body {
  background-color: var(--base);
  max-width: 65ch;
  color: var(--text);
  font-size: 0.8rem;
}

.Ok,
.Err,
.\&,
.mut,
.bool,
.Some,
.None,
.param,
.punctuation {
  font-family: monospace;
}

a {
  color: var(--blue);
}

.unit {
  color: var(--surface2);
}

:root {
  --base: #1e1e2e;
  --peach: #fab387;
  --green: #a6e3a1;
  --red: #f38ba8;
  --text: #cdd6f4;
  --blue: #89b4fa;
  --mauve: #cba6f7;
  --sky: #89dceb;
  --surface2: #585b70;
  --overlay2: #9399b2;
  --maroon: #eba0ac;
}

.\& {
  color: var(--sky);
}

.bool {
  color: var(--peach);
}

.mut {
  color: var(--mauve);
}

.punctuation {
  color: var(--sky);
  font-weight: bold;
}

.Ok,
.Some {
  color: var(--green);
}

.Err,
.None {
  color: var(--red);
}
