{% extends "base.html" %}
{% block content %}
  <div class="header">
    <span>
      <a href="https://github.com/nik-rev/rust-cheatsheets/edit/main/content/{{ page.components.0 }}.md">✏️ Edit this page on github</a> • <a href="/">All Cheatsheets</a>
    </span>
    <a href="https://github.com/nik-rev/rust-cheatsheets"><img id="stars" alt="GitHub Repo stars" src="https://img.shields.io/github/stars/nik-rev/rust-cheatsheets" height="16px"></a>
  </div>
  <h1 class="title">{{ page.title }} Cheatsheet</h1>
  <!-- <p class="subtitle"><strong>{{ page.date }}</strong></p> -->

  <!-- <div class="breadcrumbs"> -->
    <!-- {% for page in ["option", "result"] %} -->

        <!-- <a class="breadcrumb-item {% if page == page.components.0 %}selected{% endif %}" href="/{{ page }}"> -->
          <!-- {{ page }} -->
        <!-- </a> -->

    <!-- {% endfor %} -->
  <!-- </div> -->

  {{ page.content | safe }}

{% endblock content %}
